body{
    background-color: #151515;
    display: grid;
    place-items: center;
    height: 100vh;
}
.wrapper a{
    color:#fff;
}

.hover-fx,
.hover-fx-1,
.hover-fx-2,
.hover-fx-3{
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: #333;
    transition: 300ms;
}

.hover-fx{
    background-color: #cd486b;
}
.hover-fx-1{
    background-color: #3b5998;
}
.hover-fx-2{
    background-color: #00acee;
}
.hover-fx-3{
    background-color: #ff0000;
}

.hover-fx::after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 100ms;
}

.hover-fx-1::after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 100ms;
}

.hover-fx-2::after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 100ms;
}

.hover-fx-3::after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 100ms;
}

.hover-fx:hover::after{
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #cd486b,
    0px 0px 50px #cd486b,
    0px 0px 100px #cd486b;
}

.hover-fx-1:hover::after{
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #3b5998,
    0px 0px 50px #3b5998,
    0px 0px 100px #3b5998;
}

.hover-fx-2:hover::after{
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #00acee,
    0px 0px 50px #00acee,
    0px 0px 100px #00acee;
}

.hover-fx-3:hover::after{
    opacity: 1;
    transform: scale(1.15);
    box-shadow: 0 0 0 3px #ff0000,
    0px 0px 50px #ff0000,
    0px 0px 100px #ff0000;
}